body{
    background-color: rgb(253, 228, 198);
}
h1{
  display: flex;
  justify-content: center;
}
nav{
    display: flex;
    margin-bottom: 1em;
    width: 500px;
    height: 2rem;
}
.search-conteiner{
    display: flex;
    align-items: center;
    width: 100%;
}
#search-input{
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 2.2rem;
}
#btn-search{
    height: 2.2rem;
    box-shadow:inset 3px 3px 10px  #888888 ;
    background-color: rgb(232, 218, 218);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.contenedorButton{
    display: flex;
    justify-content: space-around;
    height: 2.2rem;
    width: 500px;
}
/* *************************** */
/* botones nav */
#All_data, #delete, #edit{
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
}
#All_data:hover{
    box-shadow: 0 0 15px hsl(117, 100%, 50%);
    transition: all .2s ease-in-out;
}
#delete:hover{
    box-shadow: 0 0 15px hsl(0, 100%, 50%);
    transition: all .3s ease-in-out; 
}
#edit{
    box-shadow: 0 0 15px hsl(295, 100%, 50%);
    transition: all .3s ease-in-out;
}


/* ************************* */
table{
    border:3px solid black ;
    width: 100%;
}
th{
    border-color: aqua;
    background-color: blueviolet;
}
td{
    text-align: center;
    background-color: hwb(24 43% 7%);
}
/* ****************************** */

/* boton modal */
#btn-open-modal{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background-color:rgb(232, 218, 218);
    box-shadow: #575656;
}
#btn-open-modal:hover{
    box-shadow: 0 0 10px hsl(241, 100%, 49%);
    transition: all .4s ease-in-out;
}

/* form */
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
dialog, form{
    border-radius: 20px;
    background-color: rgb(13, 64, 146);
}
label{
    margin:.5rem ;
}
#fullName,#address, #email, #phone{
    border-radius: 5px;
}


.conteiner-btn{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.gestores{
    margin-top: .5rem;
    border-radius: 5px;
}
/* ***************************************** */
/* modificar */

#solicitud{
    border: 1px solid black;
    background-color: coral;
    display:block;
    flex-direction: column;
    width: 20rem;
    border-radius: 10px;
}
#contenedor-modInput{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.contenedor-boton{
    display: flex;
    justify-content: space-around;
}
#btnActualiza, #btnCancel{
    width: 25%;
    margin: 10px;
    border-radius: 5px;
    box-shadow:inset 2px 2px 8px black;
}
h5{padding-left:10%}


